parameters:
    level: 8
    paths:
        - src
    excludePaths:
        - src/Resources
        - src/Migration
    ignoreErrors:
        # Shopware service container methods are loosely typed
        - '#Call to an undefined method Symfony\\Component\\DependencyInjection\\ContainerInterface#'
    treatPhpDocTypesAsCertain: false
